<div style="background:#dbe5ea;width:980px;margin:auto;">
  <div style="box-shadow: 0 4px 11px #aeaeae83;margin: 20px; border-radius: 10px;">
    <%- include('../includes/header.ejs') %>
      <section style="padding: 10px;">
        <article style="margin: 0 auto; max-width: 720px; padding: 30px 0;text-align: center;">
          <h3>Hello, <%= options.name %>
          </h3>
          <p>Your offer for сontest <strong>"<%= options.title %>"</strong> with type <strong>
              <%= options.type %>
            </strong>
          </p>
          <% if (options.text) { %>
            <p>
              <%= options.text %>
            </p>
            <% } else { %>
              <a href='<%= url %><%= options.file %>'><img src='<%= url %><%= options.file %> ' width="200"
                  height="200" /></a>
              <% } %>
                <p style='font-weight: 600;'>was <% if (options.status==='confirmed' ) { %>
                    <strong style='color: rgb(72, 133, 72);'>
                      <%= options.status %>
                    </strong> our team Squadhelp! We wish you luck!
                    <% } else { %>
                      <strong style='color: rgb(255, 106, 106);'>
                        <%= options.status %>
                      </strong>our team Squadhelp! We wish you luck in your new offers!
                      <% } %>
                </p>
  </div>
  </section>
  <%- include('../includes/footer.ejs') %>
</div>
</div>